<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- header -->
    <div th:fragment="header">
        <div class="jumbotron text-center mb-0" style="padding: 2rem 1rem"><h1>Klay Staking Web Service</h1>
            <p>Developed by. hgssss</p></div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="navForm">
                <a href="#" class="navbar-brand">Klay Staking</a>
                <!-- Toggle Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="#" class="nav-link">Klay 조회&전송</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">API</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">트랜잭션</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">스테이킹</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</html>