<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="/form/headerMeta :: headerMeta">
</head>
<body id="mainPage">
    <div th:replace="/form/header :: header"></div>
    <div class="content">
        <div class="contentForm">
            <div class="title">
                <span th:text="${userEmail}"></span>님 어서오세요!
            </div>
            <div class="content odd">
                <a class="contextBox">
                    <div class="contentTitle text-center">
                        지갑 주소 확인
                    </div>
                </a>
                <a class="contextBox" id="getBalance">
                    <div class="contentTitle">
                        내 Klay 조회
                    </div>
                </a>
                <div class="contextBox">
                    <div class="contentTitle">
                        코인 전송
                    </div>
                </div>
            </div>
            <div class="content even">
                <div class="contextBox">
                    <div class="contentTitle text-center">
                        API 이용 내역
                    </div>
                </div>
                <div class="contextBox">
                    <div class="contentTitle text-center">
                        개인정보 수정
                    </div>
                </div>
                <div class="contextBox">
                    <div class="contentTitle text-center">
                        Transaction 조회
                    </div>
                </div>
            </div>
            <div class="content odd">
                <div class="contextBox">
                    <div class="contentTitle text-center">
                        스테이킹 상품 구매
                    </div>
                </div>
                <div class="contextBox">
                    <div class="contentTitle text-center">
                        스테이킹 상품
                        <div class="text-center text-center">
                        구매 내역
                        </div>
                    </div>
                </div>
                <div class="contextBox">
                    <div class="contentTitle text-center">
                        스테이킹 상품
                        <div class="text-center text-center">
                        보상 내역
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/form/footer :: footer"></div>

    <div class="modal fade" id="getBalanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <button class="close close-btn" type="button" data-dismiss="modal" aria-label="Close">
                        <button type="button" class="close close-btn" aria-label="Close"><span class="close-image" aria-hidden="true">&times;</span></button>
                    </button>
                    <h3 class="modal-title" id="exampleModalLabel">내 Klay 조회</h5>
                </div>
                <div class="modal-body text-center">
                    <div class="balanceForm">
                        <span id="balance"></span> KLAY
                    </div>
                    <div class="timeForm">
                        마지막 조회 날짜 : <span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn" id="modalY" href="javascript:getBalance()">토큰 조회</a>
                    <button class="btn" type="button" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $('#getBalance').click(function(e){
            e.preventDefault();
            $('#getBalanceModal').modal("show");
        });

        const SUCCESS_STATUS = 200;
        let RESPONSE_SUCCESS = false;
        let REDIRECT_URL = "";
        // let
        const getBalance = function() {

            fetch('/getBalance', {
                method: 'get'

            }).then(response => {
                if(SUCCESS_STATUS === response.status) {
                    REGISTER_SUCCESS = true;
                }
                return response.json();
            }).then(result =>{
                // balance.value = result;
                document.getElementById("balance").innerText = result;
                console.log(result)
            })
        }


    </script>
</body>
</html>
